{% extends 'product/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ product.photo|media_filter }}">
                    <div class="card-body">
                        <p class="card-text">{{ product.name }}</p>
                        <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                        <p class="card-text">{{ product.purchase_price }}</p>
                        {% if product.current_version %}
                        <p class="card-text">Текущая версия: {{ product.current_version.name_version }} (Версия {{ product.current_version.num_version }})</p>
                        {% else %}
                        <p class="card-text">Текущая версия: Нет активной версии</p>
                        {% endif %}
                        <div class="d-grid gap-2  mx-auto">

                            <a class="btn btn-primary" href="{% url 'product:products_details' product.pk %}"
                               role="button">Посмотреть</a>
                            <a class="btn btn-secondary" href="{% url 'product:product_update' product.pk %}"
                               role="button">Редактировать</a>
                            <a class="btn btn-md mt-3 btn-danger" href="{% url 'product:product_delete' product.pk %}"
                               role="button">Удалить</a>
                            <p class="text-body-secondary text-sm"></p>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}